

		<h1><font color = "Red" >Sample App</font></h1>
		<p>This is the home page for Matt's Ruby<a href = "http://www.railstutorial.org/"> App. </a>
		</p>
		<img src = "http://i3.kym-cdn.com/photos/images/facebook/000/033/183/slenderman-2-784777.jpg">