

		<h1><font color = "#0011ff" >Sample App</font></h1>
		<p>This is the home page for Matt's Ruby<a href = "http://www.railstutorial.org/"> App. </a>
		</p>
		<img src = "http://41.media.tumblr.com/1fa8c517d07b0281686b251d331fc298/tumblr_ne0eos4arL1td3k3fo1_1280.png">